.category-card-img {
  transition: transform 10s ease-in-out;
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
/* ------------------------------------ */

.title-holder {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sub-title {
  color: var(--yellow-color);
  font-size: 26px;
  font-weight: bold;
  position: relative;
}
.sub-title::before {
  content: "";
  position: absolute;
  background-color: blue;
  width: 50%;
  overflow: hidden;
  height: 3px;
  bottom: 0;
  left: 25%;
  transition: 0.3s;
}
.sub-title:hover::before {
  width: 75%;
  left: 12.5%;
}

.cards-container {
  display: flex;
  justify-content: space-around;
}
.all-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  transition: 0.3s;
  margin: 10px 0;
}
.all-card:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-10px);
}
.category-card-img {
  max-width: 100%;
}
/* Carousel Control */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: blue;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
}
