<p-carousel
  [value]="listOfBrands"
  styleClass="custom-carousel"
  [numVisible]="6"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="5000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="header">
    <div class="title-holder">
      <div class="sub-title">Brands</div>
    </div>
  </ng-template>
  <ng-template let-brand pTemplate="item" class="category-card-container">
    <div class="product-item" (click)="getProduct(brand)">
      <a class="product-item-content">
        <img [src]="brand.image" alt="" />
      </a>
    </div>
  </ng-template>
</p-carousel>
