<div class="product-details">
  <h1 class="product-title">{{ details.title }}</h1>
  <div class="stars">
    <ng-container *ngFor="let star of fullStars">
      <div class="star full"></div>
    </ng-container>
    <div *ngIf="halfStar" class="star half"></div>
    <ng-container *ngFor="let star of emptyStars">
      <div class="star empty"></div>
    </ng-container>
  </div>
  <p class="product-price">{{ details.price }} EGP</p>
  <p class="product-brand">Brand: <img src="{{ img }}" alt="" /></p>
  <p class="product-description">Descriptopn: {{ details.description }}</p>
  <p *ngIf="details.quantity > 2" class="in-stock">
    <i class="bi bi-circle-fill"></i> In Stock
  </p>
  <p *ngIf="details.quantity == 0" class="out-stock">
    <i class="bi bi-circle-fill"></i> Out Of Stock
  </p>
  <p *ngIf="details.quantity == 1" class="out-stock">Last Item</p>
  <button class="add-to-cart-btn" (click)="addToCart()">Add to Cart</button>
  <button class="view-details-btn">Buy</button>
</div>
<div class="modall" *ngIf="showModal">
  <div class="modall-header">
    <span class="modall-title">Product added to Cart</span>
    <button class="close-btn" (click)="closeModal()">&times;</button>
  </div>
  <div class="modall-body">
    <img [src]="details.images[0]" alt="" />
    <a routerLink="/user/id/cart">{{ details.title }}</a>
  </div>
</div>
