<div class="title">Edit Product</div>

<form
  (submit)="onSubmit()"
  *ngIf="productDetails && productForm"
  [formGroup]="productForm"
  class="form-inputs admin-height"
>
  <div class="form-group my-1">
    <input
      formControlName="title"
      placeholder="Title"
      class="input-form"
      type="text"
    />
  </div>

  <div class="form-group my-1">
    <textarea
      placeholder="Product description"
      formControlName="description"
      class="input-form"
      id="description"
    ></textarea>
  </div>

  <div class="form-group my-1">
    <input
      placeholder="Product Price"
      formControlName="price"
      class="input-form"
      type="number"
      id="price"
    />
  </div>

  <div class="form-group my-1">
    <input
      placeholder="Product quantity"
      formControlName="quantity"
      class="input-form"
      type="number"
      id="quantity"
    />
  </div>

  <div class="form-group my-1" *ngIf="listOfBrands.length > 0">
    <div class="radio-input">
      <div class="info w-100">
        <span class="question">Select Brand</span>
        <span class="steps">{{ listOfBrands.length }}</span>
      </div>
      <div class="w-100">
        <select
          [ngClass]="{
            'is-invalid': f['brand'].touched && f['brand'].invalid
          }"
          class="form-select"
          formControlName="brand"
          aria-label="Default select example"
        >
          <option
            value="{{ cat._id }}"
            id="{{ cat._id }}"
            *ngFor="let cat of listOfBrands"
          >
            {{ cat.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group my-1" *ngIf="listOfCategories.length > 0">
    <div class="radio-input">
      <div class="info w-100">
        <span class="question">Select Category</span>
        <span class="steps">{{ listOfCategories.length }}</span>
      </div>
      <div class="w-100">
        <select
          [ngClass]="{
            'is-invalid': f['category'].touched && f['category'].invalid
          }"
          class="form-select"
          formControlName="category"
          aria-label="Default select example"
          (click)="getSubcategories()"
        >
          <option
            value="{{ cat._id }}"
            id="{{ cat._id }}"
            *ngFor="let cat of listOfCategories"
          >
            {{ cat.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group my-1" *ngIf="listOfSubCategories.length > 0">
    <div class="radio-input">
      <div class="info w-100">
        <span class="question">Select SubCategory</span>
        <span class="steps">{{ listOfSubCategories.length }}</span>
      </div>
      <div class="w-100">
        <select
          [ngClass]="{
            'is-invalid': f['subcategory'].touched && f['subcategory'].invalid
          }"
          class="form-select"
          formControlName="subcategory"
          aria-label="Default select example"
        >
          <option
            *ngFor="let sub of listOfSubCategories"
            value="{{ sub._id }}"
            id="{{ sub._id }}"
          >
            {{ sub.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group my-1"></div>

  <div formArrayName="images">
    <div *ngFor="let img of getimages.controls; let i = index">
      <input
        [formControlName]="i"
        class="form-control"
        type="text"
        [id]="'img' + i"
      />

      <button type="button" class="btn btn-default" (click)="addImg($event)">
        +
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-2">
    <button
      [disabled]="productForm.invalid"
      class="btn btn-success mt-2"
      type="submit"
    >
      Create
    </button>
  </div>
</form>

<div>
  {{ productForm.value | json }}
</div>
