<nav class="main-menu">
  <h3>User Sidebar</h3>
  <ul>
    <li>
      <a routerLink="/user/id/dashboard" routerLinkActive="active">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text"> Dashboard </span>
      </a>
    </li>
    <li>
      <a routerLink="/user/id/profile" routerLinkActive="active">
        <i class="fa fa-globe fa-2x"></i>
        <span class="nav-text"> Profile </span>
      </a>
    </li>
    <li>
      <a routerLink="/user/id/addresses" routerLinkActive="active">
        <i class="fa fa-comments fa-2x"></i>
        <span class="nav-text">Addresses </span>
      </a>
    </li>
    <li>
      <a routerLink="/user/id/favoriteproducts" routerLinkActive="active">
        <i class="fa fa-camera-retro fa-2x"></i>
        <span class="nav-text"> Favorite </span>
      </a>
    </li>
    <li>
      <a routerLink="/user/id/allorders" routerLinkActive="active">
        <i class="fa fa-camera-retro fa-2x"></i>
        <span class="nav-text"> Orders </span>
      </a>
    </li>
    <li>
      <a routerLink="/user/id/dashboard">
        <i class="fa fa-film fa-2x"></i>
        <span class="nav-text"> Logout </span>
      </a>
    </li>
  </ul>
</nav>
