<div class="sidebar">
  <a
    routerLink="/user/id/dashboard"
    routerLinkActive="active"
    class="admin-side-text border-bottom p-2 text-center"
  >
    Dashboard </a
  ><a
    routerLink="/user/id/profile"
    routerLinkActive="active"
    class="admin-side-text border-bottom p-2 text-center"
  >
    Profile
  </a>
  <a
    routerLink="/user/id/addresses"
    routerLinkActive="active"
    class="admin-side-text border-bottom p-2 text-center"
  >
    Addresses
  </a>
  <a
    routerLink="/user/id/allorders"
    routerLinkActive="active"
    class="admin-side-text border-bottom p-2 text-center"
  >
    Orders
  </a>
  <a
    routerLink="/user/id/favoriteproducts"
    routerLinkActive="active"
    class="admin-side-text border-bottom p-2 text-center"
  >
    Favorite
  </a>
  <a class="admin-side-text border-bottom p-2 text-center"> Logout </a>
</div>
