<app-loading *ngIf="listOfCategories.length == 0"></app-loading>
<div class="category-card-container">
  <p-carousel
    [value]="listOfCategories"
    styleClass="custom-carousel"
    [numVisible]="6"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="5000"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="header">
      <div class="title-holder">
        <div class="sub-title">Categories</div>
      </div>
    </ng-template>
    <ng-template let-brand pTemplate="item">
      <div class="product-item" (click)="getProduct(brand)">
        <a class="product-item-content all-card">
          <img [src]="brand.image" class="category-card-img" alt="" />
        </a>
      </div>
    </ng-template>
  </p-carousel>
</div>
