/* Start Title */
.title-holder {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sub-title {
  color: var(--yellow-color);
  font-size: 26px;
  font-weight: bold;
  position: relative;
}
.sub-title::before {
  content: "";
  position: absolute;
  background-color: blue;
  width: 50%;
  overflow: hidden;
  height: 3px;
  bottom: 0;
  left: 25%;
  transition: 0.3s;
}
.sub-title:hover::before {
  width: 75%;
  left: 12.5%;
}
/* End Title */

.category-card-container {
  background-color: var(--gray-color);
  border-radius: 5px;
}
.all-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
  margin-top: 10px;
}
.all-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.3s;
}

.product-item {
  transition: 0.3s;
  margin-top: 10px;
  cursor: pointer;
}
.product-item-content {
  background-color: transparent;
  margin: 0.3rem;
  text-align: center;
  margin-top: 10px;
}
.product-item-content img {
  border-radius: 50%;
  width: 100%;
  max-width: 150px;
}
.product-item:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}
.custom-carousel .p-carousel-indicators {
  display: none; /* Hide scrollbar */
}
