<div class="row" *ngIf="listOfBrands.length > 0">
  <div
    class="col-lg-2 col-md-3 col-sm-6 m-2 cat-card"
    *ngFor="let brand of listOfBrands"
  >
    <img src="{{ brand.image }}" alt="" width="150px" />
    <p>{{ brand.name }}</p>
    <button (click)="openModal(brand)" class="btn btn-danger">Delete</button>
  </div>
  <div class="modal" [class.show]="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>
        Are You Sure You Want To Delete "{{ selectedBrand.name }}" Brand ?
      </h2>
      <div class="modal-buttons">
        <button (click)="handleNo()" class="btn btn-success mx-2">No</button>
        <button (click)="delete(selectedBrand._id)" class="btn btn-danger">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
