<div class="title">Add New Brand</div>
<form
  (submit)="onSubmit()"
  class="form-inputs admin-height"
  [formGroup]="brandForm"
>
  <div class="form-group">
    <input
      [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].invalid }"
      placeholder="Brand Name"
      formControlName="name"
      class="input"
      type="text"
      id="name"
    />
    <div
      *ngIf="f['name'].touched && f['name'].invalid"
      class="invalid-feedback"
    >
      <div *ngIf="f['name'].errors?.['required']">Brand Name Required</div>
    </div>
  </div>

  <div class="form-group">
    <textarea
      placeholder="Brand Description"
      formControlName="description"
      id="description"
    ></textarea>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{ 'is-invalid': f['image'].touched && f['image'].invalid }"
      placeholder="Brand image Url"
      formControlName="image"
      class="input"
      type="text"
      id="image"
    />
    <div
      *ngIf="f['image'].touched && f['image'].invalid"
      class="invalid-feedback"
    >
      <div *ngIf="f['image'].errors?.['required']">
        Brand Image URL Required
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-2">
    <button
      [disabled]="brandForm.invalid"
      type="submit"
      class="btn btn-success mt-2"
    >
      Create
    </button>
  </div>
</form>

<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Product Created Successfully</h2>
    <div class="modal-buttons">
      <button (click)="closeModal()" class="btn btn-success">Ok</button>
    </div>
  </div>
</div>
