<div class="cart-item-body d-flex">
  <img
    style="width: 230px; height: 200px"
    src="../../../../assets/labtops3.avif"
    alt=""
  />
  <div>
    <div class="justify-content-between">
      <div class="col-sm-12 pt-2 d-flex justify-content-between">
        <div class="d-inline cat-text">Order Number #2321</div>
        <div class="d-inline cat-text">Remove</div>
      </div>
    </div>
    <div class="justify-content-center mt-2">
      <div class="d-flex flex-row justify-content-start">
        <div class="d-inline pt-2 cat-title">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo fugit
          porro ab exercitationem aliquid. Molestiae voluptatem doloremque in ut
          quos accusamus, exercitationem sint itaque numquam optio labore error
          aspernatur natus?
        </div>
        <div class="d-inline pt-2 cat-rate me-2">4.5</div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex">
        <div class="mt-2 cat-text d-inline">Brand:</div>
        <div class="mt-1 barnd-text d-inline mx-1">Apple</div>
        <div class="color me-1 border" style="background-color: #e52c2c"></div>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="d-flex justify-content-between">
        <div class="d-inline pt-2 d-flex">
          <div class="cat-text pt-1 d-inline">Quantity</div>
          <input class="mx-2 mt-1" type="number" />
        </div>
        <div class="d-inline">3000EGP</div>
      </div>
    </div>
  </div>
</div>
