.category-card-container {
  background-color: var(--gray-color);
  border-radius: 10px;
}
.title-holder {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sub-title {
  color: var(--yellow-color);
  font-size: 26px;
  font-weight: bold;
  position: relative;
}
.sub-title::before {
  content: "";
  position: absolute;
  background-color: blue;
  width: 50%;
  overflow: hidden;
  height: 3px;
  bottom: 0;
  left: 25%;
  transition: 0.3s;
}
.sub-title:hover::before {
  width: 75%;
  left: 12.5%;
}

.product-item {
  .product-item-content {
    border-radius: 3px;
    display: flex;
    justify-content: center;
  }
}
