.image-gallery {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-image {
  justify-content: center;
}
.main-image img {
  width: 100%;
  object-fit: contain;
}
.thumbnail-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.thumbnail-images img {
  width: 138px;
  height: 138px;
  cursor: pointer;
  border: 1px solid yellow;
  border-radius: 4px;
  margin: 0 10px;
  margin-top: 20px;
  transition: 0.3s;
}
.thumbnail-images img:hover {
  border-color: var(--yellow-alt-color);
  transform: translatey(-10px);
  transition: 0.3s;
}
