<div class="profile-container" *ngIf="user">
  <div class="profile-header">
    <div class="img-container">
      <img
        [src]="user.profileImage || '../../../../assets/person.jpg'"
        alt="Profile Picture"
        class="profile-picture"
        (click)="openImg()"
      />
    </div>
    <div class="user-info">
      <h2>
        <strong>{{ user.fname + " " + user.lname }}</strong>
      </h2>
      <p (click)="openEmail()"><strong>Email: </strong>{{ user.email }}</p>
      <p (click)="openPhone()">
        <strong>Phone: </strong> {{ user.phone || "--" }}
      </p>
    </div>
  </div>
  <div class="profile-body">
    <h3>Billing Address</h3>
    <div class="address-card">
      <div class="address-details" *ngIf="address">
        <p><strong>State:</strong> {{ address.state }}</p>
        <p><strong>Country / Region:</strong> {{ address.country }}</p>
        <p><strong>Address:</strong> {{ address.address }}</p>
        <p><strong>Phone Number:</strong> {{ address.phone }}</p>
        <p><strong>Postcode:</strong> {{ address.postalCode }}</p>
        <p><strong>City:</strong> {{ address.city }}</p>
      </div>
      <div class="address-details" *ngIf="!address">
        <p><strong>State:</strong></p>
        <p><strong>Country / Region:</strong></p>
        <p><strong>Address:</strong></p>
        <p><strong>Phone Number:</strong></p>
        <p><strong>Postcode:</strong></p>
        <p><strong>City:</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="change-profile-container" *ngIf="changeImage">
  <form (ngSubmit)="onSubmit()" #profileForm="ngForm" class="profile-form">
    <button (click)="closeImg()" class="btn-close"></button>
    <input
      class="custom-file-input"
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
    />
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="change-profile-container" *ngIf="changePhone">
  <form (ngSubmit)="onSubmitPhone()" class="profile-form">
    <button (click)="closePhone()" class="btn-close"></button>
    <input
      class="m-2 form-control w-50"
      placeholder="Phone Number..."
      type="text"
      #phoneInput
    />
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="change-profile-container" *ngIf="changeEmail">
  <form (ngSubmit)="onSubmitEmail()" class="profile-form">
    <button (click)="closeEmail()" class="btn-close"></button>
    <input
      class="m-2 form-control w-50"
      placeholder="Email ..."
      type="email"
      #emailInput
    />
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>
