<div class="sidebar">
  <a routerLink="/admin/id/allorders">
    <div class="admin-side-text border-bottom p-2 mx-auto text-center">
      Order Management
    </div>
  </a>
  <a routerLink="/admin/id/allproducts">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Products Management
    </div>
  </a>
  <a routerLink="/admin/id/allcategories">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Categories Management
    </div>
  </a>
  <a routerLink="/admin/id/allbrands">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Brands Management
    </div>
  </a>
  <a routerLink="/admin/id/addbrand">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Add Brand
    </div>
  </a>
  <a routerLink="/admin/id/addcategory">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Add Category
    </div>
  </a>
  <a routerLink="/admin/id/addsubcategory">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Add Subcategory
    </div>
  </a>
  <a routerLink="/admin/id/addproduct">
    <div class="admin-side-text my-1 border-bottom p-2 mx-auto text-center">
      Add Product
    </div>
  </a>
</div>
