<nav class="main-menu">
  <h3>Admin Sidebar</h3>
  <ul>
    <li>
      <a routerLink="/admin/id/allorders">
        <i class="fa fa-solid fa-gears"></i>
        <span class="nav-text"> Order Management </span>
      </a>
    </li>
    <li class="has-subnav">
      <a routerLink="/admin/id/allproducts">
        <i class="fa fa-solid fa-gears"></i>
        <span class="nav-text"> Products Management </span>
      </a>
    </li>
    <li class="has-subnav">
      <a routerLink="/admin/id/allcategories">
        <i class="fa fa-solid fa-gears"></i>
        <span class="nav-text">Categories Management </span>
      </a>
    </li>
    <li class="has-subnav">
      <a routerLink="/admin/id/allbrands">
        <i class="fa fa-solid fa-gears"></i>
        <span class="nav-text"> Brands Management </span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/id/addbrand"
        ><i class="fa fa-solid fa-plus"></i>
        <span class="nav-text"> Add Brand </span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/id/addcategory"
        ><i class="fa fa-solid fa-plus"></i>
        <span class="nav-text"> Add Category</span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/id/addsubcategory"
        ><i class="fa fa-solid fa-plus"></i>
        <span class="nav-text"> Add Subcategory </span>
      </a>
    </li>
    <li>
      <a routerLink="/admin/id/addproduct"
        ><i class="fa fa-solid fa-plus"></i>
        <span class="nav-text"> Add Product</span>
      </a>
    </li>
  </ul>
</nav>
