<div class="d-flex flex-row mb-2">
  <a class="col-xs-3 col-md-2 d-flex justify-content-start" href="/products/id">
    <img src="../../../../assets//labtops3.avif" alt="" />
  </a>
  <div class="col-xs-8 col-md-6">
    <div class="d-inline pt-2 cat-title">title</div>
    <div class="d-inline pt-2 cat-rate me-2">ratingsAverage</div>
    <div class="rate-count d-inline p-1 pt-2">ratingsQuantity rate</div>
    <div class="mt-3 d-flex">
      <div class="cat-text mt-1 d-inline">Quantity</div>
      <input class="mx-2" type="number" />
      <div class="color d-inline"></div>
    </div>
  </div>
</div>
