<div class="dashboard">
  <div class="menu">
    <a class="menu-item" routerLink="/user/id/allorders">
      <i class="bi bi-card-checklist"></i>
      <span>Orders</span>
    </a>
    <a class="menu-item" routerLink="/user/id/profile">
      <i class="bi bi-person-circle"></i>
      <span>Profile</span>
    </a>
    <a class="menu-item" routerLink="/user/id/cart"
      ><i class="bi bi-cart2"></i>
      <span>Cart</span>
    </a>
    <a class="menu-item" routerLink="/user/id/addresses"
      ><i class="bi bi-geo-alt"></i>
      <span>Addresses</span>
    </a>
    <a class="menu-item" routerLink="/user/id/favoriteproducts"
      ><i class="bi bi-heart-fill"></i>
      <span>Favorite</span>
    </a>
    <a class="menu-item" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      <span>Logout</span>
    </a>
  </div>
</div>
