<div class="review-section">
  <h2>Customer Reviews</h2>
  <div *ngFor="let review of reviewsList" class="review">
    <p>
      <strong>{{ review.user.fname + " " + review.user.lname }}</strong>
    </p>
    <p *ngIf="review.ratings == 1">⭐</p>
    <p *ngIf="review.ratings == 2">⭐⭐</p>
    <p *ngIf="review.ratings == 3">⭐⭐⭐</p>
    <p *ngIf="review.ratings == 4">⭐⭐⭐⭐</p>
    <p *ngIf="review.ratings == 5">⭐⭐⭐⭐⭐</p>
    <p>{{ review.title }}</p>
    <div *ngIf="user">
      <button
        class="btn btn-danger"
        *ngIf="review.user._id === user._id"
        (click)="deleteReview(review._id)"
      >
        Delete
      </button>
    </div>
  </div>
  <form (ngSubmit)="addReview()" #reviewForm="ngForm" class="review-form">
    <h3>Write a Review</h3>
    <label for="rating">Rating:</label>
    <select id="rating" name="rating" [(ngModel)]="newReview.rating" required>
      <option value="5">⭐⭐⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="2">⭐⭐</option>
      <option value="1">⭐</option>
    </select>
    <label for="comment">Comment:</label>
    <textarea
      id="comment"
      name="comment"
      [(ngModel)]="newReview.comment"
      required
    ></textarea>
    <button type="submit">Submit Review</button>
  </form>
</div>
