<div class="review-section">
  <h2>Customer Reviews</h2>
  <div *ngFor="let review of reviewsList" class="review">
    <p>
      <strong>{{ review.user.fname + " " + review.user.lname }}</strong>
    </p>
    <p-rating
      [(ngModel)]="review.ratings"
      [cancel]="false"
      [readonly]="true"
    ></p-rating>
    <p>{{ review.title }}</p>
    <div *ngIf="user">
      <button
        class="btn btn-danger"
        *ngIf="review.user._id === user._id"
        (click)="deleteReview(review._id)"
      >
        Delete
      </button>
    </div>
  </div>
  <form (ngSubmit)="addReview()" [formGroup]="reviewForm" class="review-form">
    <h3>Write a Review</h3>
    <label for="rating">Rating:</label>
    <p-rating formControlName="score" [cancel]="false"></p-rating>
    <label for="comment">Comment:</label>
    <textarea
      formControlName="title"
      id="comment"
      name="comment"
      required
    ></textarea>
    <button type="submit" [disabled]="reviewForm.invalid">
      Submit Review
    </button>
  </form>
</div>
{{ reviewForm.value | json }}
