<div class="container" style="min-height: 690px">
  <form class="form">

    <div class="info">
      <span class="title">Two-Factor Verification</span>
      <p class="description">
        Enter the two-factor authentication code provided by the authenticator
        app
      </p>
    </div>
    <div class="input-fields">
      <input maxlength="1" type="tel" placeholder="" />
      <input maxlength="1" type="tel" placeholder="" />
      <input maxlength="1" type="tel" placeholder="" />
      <input maxlength="1" type="tel" placeholder="" />
    </div>

    <div class="action-btns">
      <a href="#" class="verify">Verify</a>
      <a href="#" class="clear">Clear</a>
    </div>
  </form>
</div>
