<!-- <div
  className="discount-backcolor my-3  mx-2 d-flex text-center align-items-center "
>
  <div class="col-6">
    <div className="discount-title">Discount Reach 50%</div>
  </div>
  <div class="col-6">
    <img className="dicount-img" src="../../../../assets/laptops.png" alt="" />
  </div>
</div> -->

<div class="discount-backcolor">
  <div class="col-6">
    <div class="discount-title">Discount Reach 50%</div>
  </div>
  <div class="col-6">
    <img src="../../../../assets/laptops.png" class="dicount-img" alt="">
  </div>
</div>
