<div class="home">
  <app-slider></app-slider>
  <div class="container-lg">
    <app-home-category></app-home-category>
    <app-discount></app-discount>
    <app-products [products]="notebooks" name="Notebooks"></app-products>
    <app-discount></app-discount>
    <app-products [products]="accessories" name="Accessories"></app-products>
    <app-discount></app-discount>
    <app-products [products]="bundles" name="Bundles"></app-products>
    <app-discount></app-discount>
    <app-products [products]="monitors" name="Monitors"></app-products>
    <app-discount></app-discount>
    <app-products [products]="lenovo" name="LENOVO"></app-products>
    <app-discount></app-discount>
    <app-products [products]="hp" name="HP"></app-products>
    <app-discount></app-discount>
    <app-products [products]="asus" name="ASUS"></app-products>
    <app-discount></app-discount>
    <app-products [products]="dell" name="DELL"></app-products>
    <app-discount></app-discount>
    <app-products [products]="msi" name="MSI"></app-products>
    <app-brands></app-brands>
  </div>
</div>

